*.yml
!.github/**/*.yml
**/__pycache__
/engines/*
!/engines/README.md
lichess_bot_auto_logs/*
.vscode/*
.vs/*
*.pgn
*.log
*.txt
!**/CMakeLists.txt
TEMP/*
build/*
tests/engines/
dist/*
*.spec
*.so
*.dll
*.dylib
*.o
*.obj
src/nnue-training/mlflow.db
data/lichess_db_eval.jsonl.zst
.DS_Store
nohup.out
