*.yml
!.github/**/*.yml
**/__pycache__
/engines/*
!/engines/README.md
lichess_bot_auto_logs/*
.vscode/*
.vs/*
*.pgn
*.log
*.txt
!**/CMakeLists.txt
TEMP/*
build/*
dist/*
*.spec
*.so
*.dll
*.dylib
*.o
*.obj
